<div class="chapterSelectorContainer">
  <ng-container *ngIf="{ bookmarks: bookmarks$ | async } as data">
    <mat-list>
      @for (chapter of chapters; track chapter) {
      <mat-list-item>
        <button class="chapterSelectorButton" mat-flat-button (click)="submit(chapter.number)"
          [ngClass]="{ 'highlight': chapter.number === selectedChapter }">
          <span class="number-wrapper">
            @if(data.bookmarks?.has(chapter.number)){
            <mat-icon [style.color]="data.bookmarks?.get(chapter.number)" class="bookmark-icon">bookmark</mat-icon>
            }
            <span [ngClass]="{ 'bookmarked': data.bookmarks?.has(chapter.number) }">{{ chapter.number }}</span>
          </span>
          <span>{{getChapterDisplay(chapter)}}</span>
        </button>
      </mat-list-item>
      }
    </mat-list>
  </ng-container>
</div>