.chapterSelectorButton:not(disabled) {
    background-color: white;
    color: black;
    font-size: large;
    margin-left: 8px;  /* Add some spacing between buttons */
  }
  
  .chapterSelectorButton:hover {
    background-color: antiquewhite;
  }

  button.highlight {
    background-color: antiquewhite;
    /* any extra styling you like */
  }

  .chapterSelectorContainer {
    background-color: white;
  }