<span class="section" [ngClass]="{'center':data.text[data.text.length - 1].type === 'quote'}">
    <ng-container *ngFor="let text of data.text; let i = index; let isFirst = first; let isLast = last">
        
            <span *ngIf="changeLine && isFirst"><p></span>

            <span class="section" *ngIf="text.type === 'text' || text.type === 'section'">{{text.text}}</span>

            <span class="section"
                *ngIf="data.verseLabel === 'front' && isLast && data.text[data.text.length -1].type !== 'quote'"> —
            </span>
            <span class="section" *ngIf="data.verseLabel !== 'front' && isLast && text.type !== 'quote'"> — </span>
        </ng-container>
</span>