.section {
    color: darkred;
    font-weight: bold;
}

.s1Section{
    text-align: center;
    font-size: 130%;
    margin: auto;
}

.verseText {
    font-size: 120%;
}

.center {
    margin: 0 auto;
    display: table;
}

* {
    user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
  }
