<span class="section" [ngClass]="{'center':data.text[data.text.length - 1].type === 'quote' || nextIsQuote}">
  @for (text of data.text; track $index; let i = $index; let isFirst = $first; let isLast = $last) {
    @if (changeLine && isFirst) {
      <br>
    }
    @if (text.type === 'text' || text.type === 'section') {
      <span class="section">{{text.text}}</span>
    }
    @if(text.type === "references"){
      @if (data.text[data.text.length - 1].type === 'quote' || nextIsQuote) {
        <br>
      }
      <span class="references">
        <span>{{ " " }}</span>
        @for(part of parsedReferences.get(i); track $index){
          @if (typeof part === 'object') {
            <a
              (click)="showReturnSnackbar()"
              [routerLink]="['/', (part.book | lowercase ), part.chapter]"
              [queryParams]="getVerseQueryParams(part.verses, part.crossChapter)"
              >{{part.match}}</a
              >
            } @else {
              {{part}}
            }
          }
        </span>
      }
      @if (data.verseLabel === 'front' && isLast && data.text[data.text.length -1].type !== 'quote' && !nextIsQuote) {
        <span class="section"
          > —
        </span>
      }
      @if (data.verseLabel !== 'front' && isLast && text.type !== 'quote' && !nextIsQuote) {
        <span class="section"> — </span>
      }
    }
  </span>