<div class="container">
    <div class="column">
        <div class="imgContainer">
        <img src="imgs/db.jpg"></div>
        Entre a vida donde brotou e a escrita em que foi fixada, passando pela tradição oral, a Bíblia foi vestindo as formas de expressão e comunicação das várias épocas e gerações. A Difusora Bíblica foi fundada em 1955, tendo como principal objetivo «difundir e dar a conhecer a Palavra de Deus». A sua primeira edição completa da Bíblia Sagrada data de 1965.
        <p></p>
        As novas tecnologias abriram potencialidades quase ilimitadas para levarmos a Boa Nova até aos confins da terra, no seguimento do mandato de Jesus. Assim, em 2007, o texto da Bíblia Sagrada foi disponibilizado gratuitamente na internet, e, em 2011, em aplicações para telemóvel.
        <p></p>
        O texto da Sagrada Escritura que aqui se apresenta, é o da 1ª edição segundo o Acordo Ortográfico de 1990, que data de junho de 2015.
        <p></p>
        A Difusora Bíblica é uma Editora da Província Portuguesa dos Capuchinhos, e constitui, com o apostolado bíblico, uma das expressões mais visíveis dos Franciscanos Capuchinhos em Portugal.
        <p></p>
        <a href="https://www.difusorabiblica.com">https://www.difusorabiblica.com</a>
    </div>
    <div class="column">
        <div class="imgContainer">
            <img src="imgs/capuchinhos.png"></div>
        Somos uma Ordem Religiosa, constituída por Irmãos clérigos e não clérigos. Rezamos individualmente e em comum, partilhamos juntos as refeições e o tempo, ajudando-nos mutuamente a crescer, como numa família. As nossas comunidades, a que chamamos “fraternidades”, são lugares de alegria e de hospitalidade.
        <p></p>
        Chamados por Jesus Cristo, ao jeito de São Francisco de Assis, somos enviados a anunciar o Evangelho, com a vida e por todas as formas concretas: oração e contemplação, trabalho pastoral, serviços sociais, ministério da reconciliação e de assistência religiosa hospitalar, atividade missionária, ação cultural, edições e presença nos meios de informação e comunicação social.
        <p></p>
        Por isso, a nossa caraterística não está tanto naquilo que fazemos, mas no espírito ou no modo como fazemos: alegria, simplicidade, amor, entrega, confiança no Pai e nos Irmãos.
        <p></p>
        <a href="https://www.capuchinhos.org">https://www.capuchinhos.org</a>
    </div>
</div>