.mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #543D27;
  overflow: hidden;
  height: inherit;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bookTitle {
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  overflow: hidden;
  flex-grow: 1;
}

div {
  height: 56px;
}

.bookSelectorButton:not(disabled) {
  background-color: antiquewhite;
  font-size: large;
}

.bookSelectorButtonContent{
  color: #543D27;
  font-size: large;
}

.bookSelectorButton:hover {
  background-color: lightgray;
}

mat-icon{
  padding: 0px;
}

.mat-mdc-unelevated-button > .mat-icon {
  margin-right: 0px;
  margin-left: 0px;
}

.searchButton {
  position: fixed;
  right: 8px;
  background-color: antiquewhite;
  color: #543D27;
  width: 18px;
  font-size: large;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.searchButton.mdc-button{
  min-width: 48px;
}