.header-container {
  display: flex;
  /* Use Flexbox */
  justify-content: space-between;
  /* Space elements evenly */
  align-items: center;
  /* Center align vertically */
  /* Add some padding */
  position: fixed;
  top: 0; /* Stick it to the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Take full width of the viewport */
  background-color: #543D27; /* Optional: Add background color */
  height: 55px;
  overflow: hidden;
}


.header-container select {
  font-size: medium;
  /* Adjust font size */
  text-align: center;
  /* Center align text in input */
  border: none;
  /* Remove border */
  border-bottom: 1px solid #ccc;
  /* Add bottom border */
  outline: none;
  /* Remove outline */
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;

  /* Add pa375pxdding */
  max-width: 75%;
}