<div>
  <mat-toolbar>
    <div class="content">
      <button mat-flat-button aria-label="back" class="button backButton" (click)="goBack()">
        <mat-icon style="color: #543D27;">arrow_back</mat-icon>
      </button>
      <input #searchInput
        id="search"
        type="search"
        placeholder="Procurar na Bíblia"
        class="mat-raised-button search-input"
        [(ngModel)]="query"
        (keydown.enter)="emitSearch()"
      />
      <button mat-flat-button aria-label="Procurar" (click)="emitSearch()" class="button searchButton">
        <mat-icon style="color: #543D27;">search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>