.bible-books-container {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  width: 95%;
}

mat-tree-node,
h3 {
  font-family: sans-serif;
  cursor: default;
  hyphens: auto;
  font-size: 90%;
  min-height: 48px;
  /* Ensure enough height for buttons */
}

h4 {
  font-size: 125%;
}

.column {
  flex: 1;
  margin: 0 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.book-group {
  font-weight: bold;
  text-transform: uppercase;
}

.bookSelectorButton:not(disabled) {
  background-color: var(--card-background);
  color: var(--text-color);
  font-size: large;
  width: 100%;
  /* Make button fill the node area */
  justify-content: flex-start;
  /* Align text to left */
  text-align: left;
}

.bookSelectorButton:hover {
  background-color: var(--highlight-color);
}

button.highlight {
  background-color: var(--highlight-color);
  /* any extra styling you like */
}
