.bible-books-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    text-align: center;
    margin: 5px 0;
  }
  