h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.bookBlock {
    font-family: 'PT Serif', serif;
    font-size: large;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.chapterBlock{
    touch-action: pan-y !important;
}

@media (min-width: 480px) {
    .bookBlock {
        max-width: 75%;
    }
    .bookSelector {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .bookBlock {
        max-width: 50%;
    }
    .bookBlock.largeBook{
        max-width: 80%;
    }


    .bookSelector {
        width: 40%;
    }
}

.chapterNumber {
    float: left; /* Makes the chapter number float to the left */
    font-size: 333%; /* Adjust the font size as needed */
    line-height: 1; /* Adjusted for better alignment, might need tweaking */

    /*margin-right: 10px;  Adds space to the right of the chapter number */
    /* margin-bottom: 10px; Adds space below the chapter number */
    color: dimgray
}

.bookSelectorContainer {
    width: 100%;
    height: 100%;
}

.center {
    margin: 0 auto;
    display: table;
}
