<mat-drawer-container class="bookSelectorContainer" #container>

  <mat-drawer *ngIf="books" class="bookSelector" mode="over" position="end" #drawer closed>
    <book-selector [books]="books" (submitData)="onBookSubmit($event)"></book-selector>
  </mat-drawer>
  <mat-drawer-content (scroll)="onWindowScroll($event)" *ngIf="book">

    <div>
      <header [book]="book" [chapterNumber]="chapterNumber" (openBookSelector)="openDrawer($event)"></header>
    </div>
    <div (swipeleft)="goToNextChapter()" (swipeRight)="goToPreviousChapter()" style="margin: 8px 8px 0px 8px;">
      <div class="bookBlock" [ngClass]="{'largeBook': book.id==='about'}">
        <div pinch-to-zoom class="chapterBlock" *ngIf="chapter">
            <verse class="verse" *ngFor="let verse of chapter.verses" [data]="verse"></verse>
            <about *ngIf="book.id==='about'"></about>
          <br><br>
          <span class="center"><b>© DIFUSORA BÍBLICA</b></span>
          <span class="center">
            Reservados todos os direitos. É proibida a reprodução, total ou parcial, do texto, sem autorização, por
            escrito, da Editora.</span>
        </div>
        <div *ngIf="scrolled" style="height: 64px;"></div>
      </div>
    </div>


    <chapter-pagination *ngIf="!scrolled && book.chapterCount > 1" [chapter]="chapterNumber" [totalChapters]="book.chapterCount"
      (chapterEmiter)="goToChapter($event.chapter)">
    </chapter-pagination>
  </mat-drawer-content>
</mat-drawer-container>