
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "../node_modules/bootstrap/scss/bootstrap";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$bible-app-theme-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($bible-app-theme-light);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($bible-app-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($bible-app-theme);


html {
  height: 100%;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($bible-app-theme-light);

$pagination-color: #543D27;

.pagination .page-item .page-link {
    color: $pagination-color;
}

.pagination .page-item.active .page-link {
    background-color: $pagination-color;
    color : antiquewhite;
    border-color: $pagination-color;
}

.pagination .page-item:hover .page-link {
    border-color: $pagination-color;
}