/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

/* Light theme variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --text-secondary: darkred;
  --card-background: #f5f5f5;
  --border-color: #e0e0e0;
  --highlight-color: antiquewhite;
  
}

/* Dark theme variables */
.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --text-secondary: #DC143C;
  --card-background: #1e1e1e;
  --border-color: #333333;
  --highlight-color: darkgrey;
}

/* Apply variables to body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Update existing styles to use variables */
h1, h2, h3, h4, h5, h6, span {
  color: var(--text-color);
}

.chapterNumber {
  color: var(--text-secondary);
}

a {
  color: var(--text-color) !important;
}

.mat-bottom-sheet-container {
  background-color: var(--card-background) !important; /* Force apply */
  color: var(--text-color) !important; /* Force apply */
}

.mat-drawer {
  background-color: var(--card-background) !important; /* Force apply */
  color: var(--text-color) !important; /* Force apply */
}

.mat-tree-node, .mat-mdc-list , .mat-mdc-list-item {
  color: var(--text-color) !important; /* Force apply */
  background-color: var(--card-background) !important ;
} 