@if (data) {
  <!-- Verse Number -->
  @if(data.number > 0 && getFirstTextType() !== 'quote'){
    @if(data.number > 1) {
      {{ " " }}
    }
    <span class="verseNumber">{{ data.number }}</span>
    @if(hasFootnotes){
      <span role="button" tabindex="0" (click)="toggleFootnotes()" (keydown.enter)="toggleFootnotes()" class="footnoteIndicator">&#65290;</span>
    }
  }

  <ng-template #elementContent let-text let-i="i" let-isFirst="isFirst" let-isLast="isLast" let-isQuote="isQuote">
    <!-- Chapter Number Display -->
    @if (chapterNumberDisplayIndex === i) {
      <div #chapterNumber class="chapterNumber">
        {{ data.chapterNumber }}
      </div>
    }

    <!-- Regular Text and Quote Text Content -->
    @if (!isInSection(data.text, i) || isQuote) {
      @if (text.type === 'text' || text.type === 'quote') {
        @if (text.type === 'quote' && isFirstDisplayableElement(i) && data.number > 0) {
          <span class="quoteVerseNumber">
            <span class="verseNumber">{{ data.number }}</span>
            @if(hasFootnotes){
              <span role="button" tabindex="0" (click)="toggleFootnotes()" (keydown.enter)="toggleFootnotes()" class="footnoteIndicator">&#65290;</span>
            } @else {
              <span class="footnoteIndicator" style="visibility: hidden">&#65290;</span>
            }
          </span>
        }
        <span tabindex="0" role="button" [ngClass]="{'allCaps': text.allCaps}" [class.interactive]="hasFootnotes" (click)="hasFootnotes ? toggleFootnotes() : null" (keydown.enter)="hasFootnotes ? toggleFootnotes() : null">{{ text.text }}</span>
        @if(text.type === 'text' && (checkNextIsQuote(i) )){
          <br>
        }
          
      }

      <!-- References -->
      @if(text.type === "references"){
        <span class="references">
          <span>{{ " " }}</span>
          <span class="references-block">
            @for(part of parsedReferences.get(i); track $index){
              @if(typeof part === "object" && part.book !== data.bookId){
                <a class="references"
                  [routerLink]="['/', (part.book | lowercase ), part.chapter]"
                  [queryParams]="getVerseQueryParams(part.verses, part.crossChapter)"
                  >{{part.match}}</a
                  >
                } @else {
                  <span class="references">{{typeof part === "object" ? part.match : part}}</span>
                }
              }
            </span>
          </span>
        }

        <!-- Paragraph Breaks -->
        @if (text.type === 'paragraph' && data.verseLabel !== 'front' && !isFirst) {
          <br>
        }
        @if (isLast && text.type === 'quote') {
          <br>
        }

        <!-- Complex Paragraph Logic -->
        @if (text.type === 'paragraph') {
          @if (!isFirst && isLast && chapterNumberDisplayIndex !== i && !shouldShowParagraph(data, text, i)) {
            <span>
              <br>
              <span #indentable [attr.data-index]="i" [class.indent]="indentStates[i] !== false">
                {{ text.text }}
              </span>
            </span>
          }
          @if (shouldShowParagraph(data, text, i)) {
            <span #indentable [attr.data-index]="i" [class.indent]="indentStates[i] !== false">
              {{ text.text }}
            </span>
          }
        }

        <!-- Section Headers -->
        @if (text.type === 'section') {
          @if (text.tag === 's1' || text.tag === 'ms') {
            @if(!isFirst){
              <br>
              <!-- if previous is text, add another br; safari shananigans -->
              @if(data.text[i-1]?.type === 'text'){
                <br>
              }
            }
            <h3>{{ text.text }}</h3>
          }
          @if (text.tag === 's2') {
            <br>
            <verse-section
              [data]="getDataForSection(i)"
              [nextIsQuote]="checkNextIsQuote(i)"
              [nextIsParagraph]="checkNextIsParagraph(i)"
              [changeLine]="chapterNumberDisplayIndex !== i && data.text[i-1]?.type !== 'section' && data.text[i-1]?.type !== 'references'">
            </verse-section>
          }
        }
    }
  </ng-template>

  <!-- Text Content Loop -->
  @for (group of displayGroups; track $index; let groupIndex = $index; let isFirstGroup = $first; let isLastGroup = $last) {
    @if (group.type === 'normal') {
      @for (element of group.elements; track element.originalIndex) {
        <span class="verseText">
          <ng-container *ngTemplateOutlet="elementContent; context: { $implicit: element.data, i: element.originalIndex, isFirst: element.originalIndex === 0, isLast: element.originalIndex === data.text.length - 1, isQuote: false }"></ng-container>
        </span>
      }
    } @else {
      @let firstElement = group.elements[0];
      @let firstText = firstElement.data;
      <span class="verseText">
          <div></div>
          <span #indentable [attr.data-index]="firstElement.originalIndex" [ngClass]="{'indent': indentStates[firstElement.originalIndex] !== false, 'indent2': getQuoteIdentLevel(firstText) === 2}" class="quoteLineWrapper">
            @for (element of group.elements; track element.originalIndex) {
              <ng-container *ngTemplateOutlet="elementContent; context: { $implicit: element.data, i: element.originalIndex, isFirst: element.originalIndex === 0, isLast: element.originalIndex === data.text.length - 1, isQuote: element.data.type === 'quote' }"></ng-container>
            }
          </span>{{ " " }}
      </span>
    }
  }
  }